*.iml
.gradle
/local.properties
/.idea
/.idea/workspace.xml
/.idea/libraries
PassphraseGenerator/.idea/
.DS_Store
/build
/captures
.idea
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
local.properties
proguard/
*.log
.navigation/
captures/
*.jks
